@font-face {
  font-family: 'Arafat';
  src: url('Arafat.eot');
  src: url('Arafat.woff') format('woff'),
       url('Arafat.ttf') format('truetype'),
       url('Arafat.svg#Bangla') format('svg'),
       url('Arafat.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
