@font-face{
	font-family:Sandwip;
	src:url(Sandwipa.woff2) 
	format('woff2'),url(Sandwipa.woff)
	format('woff')
	}
@font-face{
	font-family:ShorifSubornoGola;
	src:url(Subornor.woff2) 
	format('woff2'),url(Subornor.woff)
	format('woff')
	}
@font-face{
	font-family:ShorifSayef;
	src:url(sayef.woff2) 
	format('woff2'),url(sayef.woff) 
	format('woff')
	}
@font-face{
	font-family:ShamimUsha;
	src:url(ShamimUsha.woff2) 
	format('woff2'),url(ShamimUsha.woff) 
	format('woff')
	}
@font-face{
	font-family:shishir;
	src:url(Shishir.woff2) 
	format('woff2'),url(Shishir.woff) 
	format('woff')
	}
@font-face{
	font-family:shabdo;
	src:url(Shabdo.woff2) 
	format('woff2'),url(Shabdo.woff) 
	format('woff')
	}
@font-face{
	font-family:suborno;
	src:url(Suborno.woff2) 
	format('woff2'),url(Suborno.woff) 
	format('woff')
	}
@font-face{
	font-family:jonota;
	src:url(jonota.woff2) 
	format('woff2'),url(jonota.woff) 
	format('woff')
	}
@font-face{
	font-family:ador;
	src:url(Ador.woff2) 
	format('woff2'),url(Ador.woff) 
	format('woff')
	}
@font-face{
	font-family:subornoregular;
	src:url(SubornoRegular.woff2) 
	format('woff2'),url(SubornoRegular.woff) 
	format('woff')
	}
@font-face{
	font-family:bongo;
	src:url(Bongobondhu.woff2) 
	format('woff2'),url(Bongobondhu.woff) 
	format('woff')
	}
@font-face{
	font-family:Mitali;
	src:url(Mitali.woff2) 
	format('woff2'),url(Mitali.woff) 
	format('woff')
	}
@font-face{
	font-family:sandwip;
	src:url(Sandwipa.woff2) 
	format('woff2'),url(Sandwipa.woff) 
	format('woff')
	}
@font-face{
	font-family:shumona;
	src:url(Shumona.woff2) 
	format('woff2'),url(Shumona.woff) 
	format('woff')
	}
@font-face{
	font-family:Boisakhi;
	src:url(Boisakhi.woff2) 
	format('woff2'),url(Boisakhi.woff) 
	format('woff')
	}
@font-face{
	font-family:Bhulua;
	src:url(Bhulua.woff2) 
	format('woff2'),url(Bhulua.woff) 
	format('woff')
	}
@font-face{
	font-family:Ahnaf;
	src:url(Ahnaf.woff2) 
	format('woff2'),url(Ahnaf.woff) 
	format('woff')
	}
@font-face{
	font-family:Ishita;
	src:url(../webfont/Ishita.woff2) 
	format('woff2'),url(Ishita.woff) 
	format('woff')
	}
@font-face{
	font-family:Probhati;
	src:url(Probhati.woff2) 
	format('woff2'),url(Probhati.woff) 
	format('woff')
	}
@font-face{
	font-family:RLipika;
	src:url(RLipika.woff2) 
	format('woff2'),url(RLipika.woff) 
	format('woff')
	}
@font-face{
	font-family:Monohor;
	src:url(Monohor.woff2) 
	format('woff2'),url(Monohor.woff) 
	format('woff')
	}
@font-face{
	font-family:Torongo;
	src:url(Torongo.woff2) 
	format('woff2'),url(Torongo.woff) 
	format('woff')
	}
@font-face{
	font-family:Karu;
	src:url(KaruAhasan.woff2) 
	format('woff2'),url(KaruAhasan.woff) 
	format('woff')
	}
